<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="../img/favicon.png" type="image/png">
        <title></title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../css/bootstrap.css">
        <link rel="stylesheet" href="../linericon/style.css">
        <link rel="stylesheet" href="../t-awesome.min.css">
        <link rel="stylesheet" href="../vendors/lightbox/simpleLightbox.css">
        <link rel="stylesheet" href="../vendors/nice-select/css/nice-select.css">
            <link href="../https://fonts.googleapis.com/css?family=Lato:700%7CMontserrat:400,600" rel="stylesheet">
               <link type="text/css" rel="stylesheet" href="../css/about.css"/>

        <!-- main css -->
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/responsive.css">
    </head>
<body>
        
	<!--================ Start Header Menu Area =================-->
	<header class="header_area">
		<div class="main_menu">
			<div class="container">
				<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<a class="navbar-brand logo_h" href="../index.html"><img src="img/logo.png" alt=""></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav ml-auto">
								<li class="nav-item active"><a class="nav-link" href="/home">Home</a></li> 
								<li class="nav-item"><a class="nav-link" href="/about">About</a></li> 
								<li class="nav-item"><a class="nav-link" href="/https://docs.google.com/forms/d/e/1FAIpQLSe8lh5OQNLoD4QN23l8ez6cAsqYXCMmRzKnHdGhITHS9FIy1w/viewform">Become Volunteer</a>
								</li>
												<li class="nav-item"><a class="nav-link" href="/restaurant/list">Get Involved</a></li> 
								
								<li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
							</ul>
						</div> 
					</div>
				</nav>
			</div>
		</div>
	</header>
	<!--================ End Header Menu Area =================-->
	{% block content %}{% endblock %}
	<!--================ Home Banner Area =================-->	
	<footer>
		<div class="footer-area">
			<div class="container">
				<div class="row section_gap">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title large_title">Our Mission</h4>
							<p>
							 Hunger Relief is a platform which aims to eradicate the problems of hunger, malnutrition and food waste in the country. We channelize leftover healthy food from restaurants to the people who really need it through a selfless team of volunteers.
							</p>
						</div>
					</div>
					<div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title">Quick Links</h4>
							<ul class="list">
								<li><a href="/home">Home</a></li>
								<li><a href="/about">About</a></li>
								<li><a href="/https://docs.google.com/forms/d/e/1FAIpQLSe8lh5OQNLoD4QN23l8ez6cAsqYXCMmRzKnHdGhITHS9FIy1w/viewform">Become Volunteer</a></li>
								<li><a href="/volunteer/form">Get Involved</a></li>
								
								<li><a href="/contact">Contact</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-6">
						<div class="single-footer-widget instafeed">
							<h4 class="footer_title"></h6>
							<ul class="list instafeed d-flex flex-wrap">
							<!--	<li><img src="img/gallery/g1.jpg" alt=""></li>
								<li><img src="img/gallery/g2.jpg" alt=""></li>
								<li><img src="img/gallery/g3.jpg" alt=""></li>
								<li><img src="img/gallery/g4.jpg" alt=""></li>
								<li><img src="img/gallery/g5.jpg" alt=""></li>
								<li><img src="img/gallery/g6.jpg" alt=""></li>>
							-->
							</ul>
						</div>
					</div>
					<div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title">Contact Us</h4>
							<div class="ml-40">
								<p class="sm-head">
									<span class="fa fa-location-arrow"></span>
									Address
								</p>
								<p>123, Main Street, Your City</p>
	
								<p class="sm-head">
									<span class="fa fa-phone"></span>
									Phone Number
								</p>
								<p>
									9910072742 <br>
									
								</p>
	
								<p class="sm-head">
									<span class="fa fa-envelope"></span>
									Email
								</p>
								<p>
								himanshu991139@gmail.com <br>
								
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-bottom">
			<div class="container">
				<div class="row d-flex">

				</div>
			</div>
		</div>
	</footer>
	<!--================ End footer Area  =================-->
	
	
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/stellar.js"></script>
    <script src="vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/countdown.js"></script>
    <!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="js/gmaps.min.js"></script>
    <script src="js/theme.js"></script>
</body>
</html>