{% extends "header.html" %}
{% block content %}
    <!--================ End Header Menu Area =================-->
        
    <!--================ Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Food Doners</h2>
                    <p></p>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Home Banner Area =================-->

	<!--================ Start Recent Event Area =================-->
	<section class="event_area section_gap_top">
        <div class="container">
            <div class="main_title">
                <h2>FOOD PROVIDERS</h2>
                <p> </p>
            </div>
        
            <div class="row">
                {% for restaurant in data %}

                    <div class="col-md-4">
                        <div class="card border-success mb-3" style="max-width: 18rem;">
                            <div class="card-header bg-transparent border-success">{{restaurant.restaurant_name}}</div>
                            <div class="card-body text-success">
                            <!-- <h5 class="card-title">Success card title</h5>-->
                                <p class="card-text"><span>Location:- {{restaurant.address}},{{restaurant.city}},{{restaurant.country}}</span>
                                    <br>
                                    <span>
                                        Serving Size:-{{restaurant.serving_per_person}}
                                    </span>
                                    <br>
                                    <span>Email    :-{{restaurant.email}}</span>
                                    <br>
                                    <span>
                                        Phone No:-{{restaurant.phone}}
                                    </span>
                                    <span>
                                    </span>
                                </p>

                            </div>
                            <div class="card-footer bg-transparent border-success">
                                    {% if (restaurant.selected==true) %}
                                            <button  onclick="update('{{restaurant.selected}}','{{restaurant.id}}','{{restaurant.email}}')" type="button" class="btn btn-primary" >Select</button>
                                        {% else %}
                                            <button type="button"  class="btn" disabled >Select</button>
                                    {% endif %}
                                   <button onclick="remove('{{restaurant.id}}')" type="button" class="btn btn-danger" style="float:right;">Picked</button>
                            </div>
                        </div>
                        
                    </div>
                {% endfor %}
            </div>
        </div>           
        
        <!--================ End Recent Event Area =================-->

	<!--================ Start Subscribe Area =================-->
	    <!--================ End Subscribe Area =================-->
        
    
    <!--================ Start footer Area  =================-->	
 
    <!--================ End footer Area  =================-->  
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        
           
        <script src="../js/jquery-3.2.1.min.js"></script>
        <script src="../js/popper.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/stellar.js"></script>
        <script src="../vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="../vendors/nice-select/js/jquery.nice-select.min.js"></script>
        <script src="../js/jquery.ajaxchimp.min.js"></script>
        <script src="../js/mail-script.js"></script>
        <!--gmaps Js-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
        <script src="../js/gmaps.min.js"></script>
        <script src="../js/theme.js"></script>
        <script type="text/javascript">
            
            function update(data,id,email){
                var obj={};
                data=false;
                obj.selected=data;
                var data=JSON.stringify(obj);
                console.log('obj',data);
                $.ajax({
                    type: 'PUT',
                    data: data,
                    url: '/restaurant/'+id,
                    dataType: 'json',
                    success: function(result){
                        var URL=window.location.origin;
                        window.location.href=URL+'/volunteer/form?email='+email;
                    
                    },
                    error: function(result){
                        
                    }
                });
            }
            function remove(id){
                console.log('id',id);
                $.ajax({
                    type: 'DELETE',
                    url: '/restaurant/'+id,
                    success: function( data, textStatus, jQxhr ){
                        location.reload();
                    
                    },
                    error: function( jqXhr, textStatus, errorThrown ){
                        
                    }
                });
            }
            // document.getElementById('')
        </script>
    </body>
</html>
{% endblock %}